<%- include('partials/header') %>

<main>
  <% dados.forEach(item => { %>
    <p>
      Nome: <%= item.nome %>,
      Idade: <%= item.idade %>
    </p>
  <% }) %>
</main>

<%- include('partials/footer') %>